.profileWrapp {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
}

.profileSidebar {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}

.profile {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 4;
}

.profileFeed {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}

.profileRightbar {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
}

.profileCover {
    height: 320px;
    position: relative;
}

.profileCoverImg {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.profileUserImg {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid var(--colors-section);
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 150px;
    margin: auto;
}

.profileInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profileName {
    font-size: 24px;
}

.profileDesc {
    font-weight: var(--fw-light);
}