.sidebar {
    height: calc(100vh - 52px);
    padding-bottom: 10px;
    overflow-y: scroll;
    padding-right: 10px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: var(--colors-section);
}

::-webkit-scrollbar-thumb {
    background-color: var(--colors-text);
}

.sidebarList {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--colors-section);
}

.sidebarItem {
    display: flex;
    align-items: center;
    gap: 15px;
    color: var(--colors-text);
}

.sidebarFriendList {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
}

.sidebarFriendItem {
    display: flex;
    align-items: center;
    gap: 15px;
}

.sidebarFriendImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.sidebarFriendName {
    font-size: 14px;
    font-weight: var(--fw-bold);
    color: var(--colors-title);
}